
.calendar-wrap {
  margin-top: 10px;
  margin-bottom: 50px;
  @include prefix-flex-wrap(wrap);

  .calendar-week {
    @include prefix-flexbox();

    .calendar-day {
      width: calc(100%/7);
      min-height: 30vh;
      border: 1px solid #ebebeb;
      padding: 10px 0 0 10px;
      color: #999999;
      position: relative;

      &:last-child {
        border-right: 1px solid #ebebeb;
      }
      &.current-day {
        background-color: $main_grey_color;
      }
      &.added-event {
        background-color: $added_event;
      }

      .day {
        margin-bottom: 10px;
      }
      .event-name {
        font-weight: bold;
        margin: 5px 0;
      }


      &:hover {
        background-color: #e5f1f9;
        border: 1px solid #8abfe9;
        cursor: pointer;
      }

      &.left-side {
        .add-event-wrap {
          left: -320px;

          .inputs-wrap {
            &:before {
              content: '';
              display: block;
              width: 15px;
              height: 15px;
              background-color: #fff;
              position: absolute;
              top: 0;
              left: unset;
              right: -28px;
              border: 1px solid #cccccc;
              border-left: none;
              border-bottom: none;
              z-index: -1;
              transform: rotate(43deg);
            }
          }
        }
      }
    }
  }


  .add-event-wrap {
    position: absolute;
    //max-width: 300px;
    width: 300px;
    border: 1px solid #cccccc;
    background-color: #fff;
    right: -320px;
    z-index: 9;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.75);
    @include prefix-border-radius(3px);

    .inputs-wrap {
      margin: 25px 20px 25px 20px;
      @include prefix-flexbox();
      @include prefix-flex-direction(column);
      position: relative;

      .close {
        position: absolute;
        top: -22px;
        right: -11px;
        transform: rotate(45deg);
        font-size: 16px;
      }

      input {
        color: #cccccc;
        font-size: 12px;
        width: 100%;
        border-radius: 3px;
        outline: none;
        height: 25px;
        border: 1px solid #dddddd;
        padding: 5px 0 5px 8px;
        margin-bottom: 5px;
      }
      textarea {
        margin-top: 30px;
        border: 1px solid #dddddd;
        padding: 5px 0 5px 8px;
        color: #cccccc;
        width: 100%;
        font-size: 12px;
        border-radius: 3px;
        outline: none;
        resize: none;
      }

      .buttons-wrap {
        margin-top: 20px;

        button {
          margin-right: 15px;
          @include prefix-border-radius(3px);
          background-color: #fff;
          outline: none;
          border: 1px solid #dddddd;
          background-image: linear-gradient(to bottom, #ffffff, #fafafa, #f6f6f6, #f1f1f1, #ededed);
        }
      }

      &:before {
        content: '';
        display: block;
        width: 15px;
        height: 15px;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: -28px;
        border: 1px solid #cccccc;
        border-top: none;
        border-right: none;
        z-index: -1;
        transform: rotate(43deg);
      }
    }
  }

}
